name: Release

on:
  push:
    branches: [master]

jobs:
  release:
    env:
      CI: true
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2
      - name: Setup GIT
        run: |
          git config user.email "rishabhgupta@msn.com"
          git config user.name ${{ secrets.RELEASE_USERNAME }}
      - name: Cache node_modules
        uses: actions/cache@v2
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-cache-${{ hashFiles('**/package-lock.json')}}
          restore-keys: |
            ${{ runner.os }}-node-cache-
      - name: Use NodeJS Version 12
        uses: actions/setup-node@v1
        with:
          always-auth: true
          node-version: "12.x"
          registry-url: https://registry.npmjs.org
      - run: npm ci
      - run: npm run lib
      - run: npm run build
      - run: npm run release
      - name: Publish
        run: npm run publish
        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_AUTH_TOKEN}}
